<!--Parent::Mypage#edit-->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header text-center">
          <h1><%= @parent.first_name %> <%= @parent.last_name %>さんの情報編集</h1>
        </div>
        <div class="card-body">
          <%= form_with model: @parent, url: mypage_path, method: :patch, local: true do |f| %>
            <div class="form-row">
              <div class="form-group col-md-6">
                <%= f.label :last_name, '姓' %>
                <%= f.text_field :last_name, class: 'form-control' %>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :first_name, '名' %>
                <%= f.text_field :first_name, class: 'form-control' %>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <%= f.label :last_name_kana, '姓（カナ）' %>
                <%= f.text_field :last_name_kana, class: 'form-control' %>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :first_name_kana, '名（カナ）' %>
                <%= f.text_field :first_name_kana, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :postal_code, '郵便番号' %>
              <%= f.text_field :postal_code, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :address, '住所' %>
              <%= f.text_field :address, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :phone_number, '電話番号' %>
              <%= f.text_field :phone_number, class: 'form-control' %>
            </div>
            <div class="actions">
              <%= f.submit '登録情報更新', class: 'btn btn-primary btn-block' %>
            </div>
          <% end %>
          <div class="mt-3 text-center">
            <%= link_to 'マイページに戻る', mypage_path, class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
