<!--Parent::Mypage#show-->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header text-center">
          <h1><%= @parent.first_name %> <%= @parent.last_name %>さんのマイページ</h1>
        </div>
        <div class="card-body">
          <h2 class="text-secondary">保護者情報</h2>
          <div class="row mb-3">
            <div class="col"><strong>姓：</strong><%= @parent.last_name %></div>
            <div class="col"><strong>名：</strong><%= @parent.first_name %></div>
          </div>
          <div class="row mb-3">
            <div class="col"><strong>姓（カナ）：</strong><%= @parent.last_name_kana %></div>
            <div class="col"><strong>名（カナ）：</strong><%= @parent.first_name_kana %></div>
          </div>
          <div class="mb-3"><strong>郵便番号：</strong><%= @parent.postal_code %></div>
          <div class="mb-3"><strong>住所：</strong><%= @parent.address %></div>
          <div class="mb-3"><strong>電話番号：</strong><%= @parent.phone_number %></div>
          <%= link_to '保護者情報を編集する', edit_mypage_path(@parent), class: 'btn btn-primary btn-block' %>

          <h2 class="text-secondary mt-4">お子様の情報</h2>
          <% @kids.each do |kid| %>
            <div class="kid-info mt-3">
              <div class="row">
                <div class="col"><strong>姓：</strong><%= kid.last_name %></div>
                <div class="col"><strong>名：</strong><%= kid.first_name %></div>
              </div>
              <div class="row mb-3">
                <div class="col"><strong>姓（カナ）：</strong><%= kid.last_name_kana %></div>
                <div class="col"><strong>名（カナ）：</strong><%= kid.first_name_kana %></div>
              </div>
              <div class="mb-2"><strong>性別：</strong><%= kid.gender %></div>
              <div class="mb-2"><strong>生年月日：</strong><%= kid.birth_date %></div>
              <div class="mb-2"><strong>アレルギー情報：</strong><%= kid.allergy_info %></div>
              <%= link_to 'お子様の情報を編集する', edit_parent_kid_path(@parent, kid), class: 'btn btn-secondary btn-block' %>
              <hr>
            </div>
          <% end %>
          <%= link_to '新しくお子様を追加する', new_parent_kid_path(parent_id: @parent.id), class: 'btn btn-info btn-block mt-3' %>

          <div class="mt-4 text-center">
            <%= link_to 'ホームに戻る', homes_path, class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
