<h1>保護者マイページ　詳細　Parent::Mypage#show</h1>
<h1><%= @parent.first_name %> <%= @parent.last_name %>'s Mypage</h1>

<h1>マイページ</h1>

<p><strong>姓：</strong><%= @parent.last_name %></p>
<p><strong>名：</strong><%= @parent.first_name %></p>
<p><strong>姓（カナ）：</strong><%= @parent.last_name_kana %></p>
<p><strong>名（カナ）：</strong><%= @parent.first_name_kana %></p>
<p><strong>郵便番号：</strong><%= @parent.postal_code %></p>
<p><strong>住所：</strong><%= @parent.address %></p>
<p><strong>電話番号：</strong><%= @parent.phone_number %></p>

<%= link_to 'ホームに戻る', homes_path, class: 'button' %>

<%= link_to '情報を編集する', edit_mypages_path(@parent), class: 'button' %>
