<!--部分テンプレート-->
<% if @note.errors.any? %>
  <div id="error_explanation">
    <h2><%= @note.errors.count %>つのエラーが発生しました:</h2>
    <ul>
    <% @note.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: note) do |f| %>
  <div>
    <%= f.label :employee_id, '担任の先生' %>
    <%= f.collection_select :employee_id, @employees, :id, :full_name %>
  </div>
  <div>
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content, '内容' %>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>