<!--連絡帳部分テンプレート-->
<div class="container mt-5">
  <% if @note.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(@note.errors.count, "error") %>が発生しました:</h4>
      <ul>
        <% @note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <%= form_with(model: note, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :employee_id, '担任の先生' %>
          <%= f.collection_select :employee_id, @employees, :id, :full_name, {}, {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :title, 'タイトル' %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :content, '内容' %>
          <%= f.text_area :content, class: "form-control" %>
        </div>
        <div class="text-center">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
