<!--<h1>Parent::Notes#show</h1>-->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header text-center">
          <h1><%= @note.title %></h1>
        </div>
        <div class="card-body">
          <h5 class="text-center">担任の先生: <%= @note.employee.full_name %></h5>
          <div class="content-border p-3 mt-3" style="border: 1px solid #dee2e6; border-radius: 0.25rem;">
            <p><%= @note.content %></p>
          </div>
          <div class="text-center mt-4">
            <%= link_to '編集', edit_note_path(@note), class: 'btn btn-outline-primary btn-sm' %>
            <%= link_to '一覧に戻る', notes_path, class: 'btn btn-outline-secondary btn-sm' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
