<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="card-header text-center">
          <h1>登降園時間の一覧</h1>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>日付</th>
                <th>名前</th>
                <th>登園時間</th>
                <th>降園時間</th>
                <th>メモ</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <% @attendances.each do |attendance| %>
                <tr>
                  <td><%= attendance.date.strftime("%Y/%m/%d") %></td>
                  <td><%= attendance.kid.first_name %></td>
                  <td><%= attendance.formatted_drop_off %></td>
                  <td><%= attendance.formatted_pick_up %></td>
                  <td><%= attendance.note %></td>
                  <td>
                    <%= link_to '編集', edit_parent_attendance_path(current_parent, attendance), class: 'btn btn-sm btn-primary' %>
                    <%= link_to '詳細', parent_attendance_path(current_parent, attendance), class: 'btn btn-sm btn-secondary' %>
                    <%= link_to '削除', parent_attendance_path(current_parent, attendance), method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: 'btn btn-sm btn-danger' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
