<%= form_with model: @note, local: true do |f| %>
  <div>
    <%= f.label :parent_id, "保護者を選択" %>
    <%= f.collection_select :parent_id, @parents, :id, :full_name %>
  </div>

  <div>
    <%= f.label :タイトル %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :内容 %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>