<h1>Employee::Notes#show</h1>
<h1><%= @note.title %> (作成者: <%= @note.creator.full_name %>)</h1>

<p><strong>内容:</strong> <%= @note.content %></p>

<%= link_to '戻る', employee_notes_path %>
<%= link_to '編集', edit_employee_note_path(@note) %>