<!DOCTYPE html>
<html>
  <head>
    <title>HoikuApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
<header>
  <% if employee_signed_in? %>
    <li><%= link_to "ログアウト", destroy_employee_session_path, method: :delete %></li>
    <li><%= link_to "職員 マイページ", employee_mypage_path %></li>
  <% elsif parent_signed_in? %>
    <li><%= link_to "ログアウト", destroy_parent_session_path, method: :delete %></li>
    <li><%= link_to "保護者 マイページ", mypages_path %></li>
  <% else %>
    <li><%= link_to "職員 新規登録", new_employee_registration_path %></li>
    <li><%= link_to "職員 ログイン", new_employee_session_path %></li>
    <li><%= link_to "保護者 新規登録", new_parent_registration_path %></li>
    <li><%= link_to "保護者 ログイン", new_parent_session_path %></li>
  <% end %>
</header>

  <body>
    <%= yield %>
  </body>
</html>
